{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {% static 'style2.css' %}">
    <title>Apenas mais um teste</title>
</head>
<body>
    <div>
        <h1> Python é muito bom </h1>
        <p>
            Middleware is computer software that provides services to software
            applications beyond those available from the operating system.
        </p>
        <p>
            It can be described as "software glue".
        </p>
        <img id="imagem" src="{% static "imagens/esquilo.jpg" %}" alt="my image">
    </div>

</body>
</html>