<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--If idade !> 0, this means that there is no one with that name in the db-->
        {% if v_idade > 0%}
            A pessoa foi encontrada, ela é {{ v_nome }} e tem {{ v_idade }} anos.
        {% else %}
            Pessoa não encontrada.
        {% endif %}
</body>
</html>